<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>RailsMemoryProfiler</title>
  <link rel="icon" href="data:,">
  <%= inline_styles %>
  <%= javascript_importmap_tags "rails_memory_profiler" %>
</head>
<body>
  <%= yield %>
</body>
</html>